video#vidFondo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    left: 0;
    top: 0;
    background-size: cover;

}

.contenedor{
/*  background-color: rgba(242, 242, 242, 0.5);*/
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-flow: row wrap;
  min-height: 700px;
  height: auto;
  align-content: flex-start;
}

.rowTitulo{
  width: 100%;
  text-align: center;
  background-color: #648C7D;
  color: #F2F2F2;
  margin-top: 0;
  margin-bottom: 0;
  height: 130px;
}
.colFiltros{
  width: 25%;
  height: 100%;
  min-height: 570px;
}
.filtrosContenido, .colContenido, .colFiltros form{
  min-height: 570px;
}
.filtrosContenido{
  width: 100%;
  margin: 0 0;
  background-color: #F2F2F2;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.tituloFiltros{
  width: 100%;
  height: 100px;
  text-align: center;
}
.tituloFiltros h5{
    font-size: 1.3rem;
}
.filtroCiudad{
  width: 100%;
  height: 100px;
  text-align: center;
}
.filtroCiudad .select-wrapper{
  margin: 5px auto;
  width: 90%;
}
.filtroTipo{
  width: 100%;
  height: 100px;
  text-align: center;
}
.filtroTipo .select-wrapper{
  margin: 5px auto;
  width: 90%;
}
.filtroPrecio{
  margin: 15px auto;
  width: 90%;
  height: 100px;
}
.filtroPrecio label{
  font-size: 1rem;
}
.botonField{
  width: 100%;
  height: 70px;
  text-align: center;
}
.botonField input{
  color: #648C7D;
}
.colContenido{
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  padding: 20px;
}
.tituloContenido{
  width: 100%;
  min-height: 170px;
  background-color: #F2F2F2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 5px;
}
.tituloContenido h5{
  width: 100%;
  margin: 0.5rem 5px;
  margin-bottom: 2rem;
  height: 10px;
  font-size: 2rem;
}

.tituloContenido button{
  background: #648C7D;
  color: #F2F2F2;
  margin-top: 2rem;
  margin-right: 1rem;

}
.divider{
  width: 100%;
}
.itemMostrado{
  width: 100%;
  margin-top: 0.4rem;
  display: flex;
  flex-flow: row wrap;
}
.itemMostrado img{
  width: 35% !important;
}
.precioTexto{
  font-size: 1.3rem;
  color: #ffab40;
}
.card-stacked{
  width: 65%;
}
.card-action{
  text-align: right;
}

table
{
 font-family: “Trebuchet MS”, Arial;
 font-size: 14px;
 padding: 1px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-right-style: solid;
 border-bottom-style: solid;
 border-right-color: #A4C4D0;
 border-bottom-color: #A4C4D0;
 width: 100%;
 height: 300px;
}

.table_header
{
        border:  2px solid black;
	background-color: #6fa0df; 
	color: #222; 
	font-size: 14px; 
	font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table #t01 tr:nth-child(even) {
    background-color: #eee;
}
table #t01 tr:nth-child(odd) {
   background-color: #fff;
}
table #t01 th {
    background-color: #648C7D;
    color: white;
}
/*   */
* {margin:0;padding:0; border: 0 none; position: relative;}
*, *:before, *:after {box-sizing: inherit;}
html{
  box-sizing: border-box;
  background: #0D757D;
  font-size: 1rem;
  color: #e6eff0;
}
h1 {
  font-weight: normal;
  font-variant: small-caps;
  text-align: center;
}
table * {height: auto; min-height: none;} /* fixed ie9 & <*/
table {
  background: #15BFCC;
  table-layout: fixed;
  margin: 1rem auto;
  width: 98%;
  box-shadow: 0 0 4px 2px rgba(0,0,0,.4);
  border-collapse: collapse;
  border: 1px solid rgba(0,0,0,.5);
  border-top: 0 none;
}
thead {
  background: #FF7361;
  text-align: center;
  z-index: 2;
}
thead tr {
  padding-right: 17px;
  box-shadow: 0 4px 6px rgba(0,0,0,.6);
  z-index: 2;
}
th {
  border-right: 2px solid rgba(0,0,0,.2);
  padding: .7rem 0;
  font-size: 1.5rem;
  font-weight: normal;
  font-variant: small-caps;
}
tbody {
  display: block;
  height: calc(50vh - 1px);
  min-height: calc(200px + 1 px);
  /*use calc for fixed ie9 & <*/
  overflow-Y: scroll;
  color: #000;
}
tr {
  display: block;
  overflow: hidden;
}
tbody tr:nth-child(odd) {
  background: rgba(0,0,0,.2);
}
th, td {
  width: 21%;
  float:left;
}
td {
  padding: .5rem 0 .5rem 1rem;
  border-right: 2px solid rgba(0,0,0,.2);
}
td:nth-child(2n) {color: #fff;}
[data-campo='Mail'] {
  width: 30%;
}  
th:last-child, td:last-child {
  width: 7%;
  text-align: center;
  border-right: 0 none;
  padding-left: 0;
}


@media only screen and (max-width:800px) {
  table {
    border-top: 1px solid ;
  }
  thead {display: none;}
  tbody {
    height: auto;
    max-height: 55vh;
  }
  tr {
    border-bottom: 2px solid rgba(0,0,0,.35);
  }
  tbody tr:nth-child(odd) {background: #15BFCC;}
  tbody tr:nth-child(even) {background:#FF7361;}
  td {
    display: block;
    width: 100%;
    min-width: 100%;
    padding: .4rem .5rem .4rem 40%;
    border-right: 0 none;
  }
  td:before {
    content: attr(data-campo);
    background: rgba(0,0,0,.1);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: auto;
    min-width: 37%;
    padding-left: .5rem;
    font-family: monospace;
    font-size: 150%;
    font-variant: small-caps;
    line-height: 1.8;
  }
  tbody td:last-child {
    text-align: left;
    padding-left: 40%;
  }
  td:nth-child(even) {
    background: rgba(0,0,0,.2);
  }
}
a {color: #FF7361}